html, body { 
height: 100%; 
padding: 0; 
margin: 0;
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
color: black;
font-family: Helvetica, sans-serif;
font-size: 120%;
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
   body { font-size: 0.75em; }
}
@media only screen and (max-width: 320px), screen and (max-height: 320px) {
   body { font-size: 0.5em; }
}

*, *:before, *:after {
box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 140%;
}

ol, ul {
list-style: none;
padding: 0;
}

a {
color: inherit;
text-decoration: none;
}

div {
border: 4px;
border-style: solid;
/*-- border-color: #bab2a2; --*/
border-color: #332929;
}

#diamond {
background: white;
}

#header, #footer {
background: #dedab0;
}

#nw, #se { background: #c2afaf; }
#ne, #sw { background: #81A2B7; }

#content {
width: 100%;
height: 100%;
position: relative;
}

div.quad { 
width: 50%; 
height: 50%; 
float: left; 
position: relative;
}


#header, #footer {
height: 25%;
width: 100%;
display: flex;
padding: 1em;
}
#header {
border-width: 0 0 8px 0;
justify-content: flex-start;
align-items: center;
}
#footer {
border-width: 8px 0 0 0;
position: absolute;
bottom: 0;
justify-content: flex-end;
align-items: center;
}

#diamond {
border-width: 8px;
width: 65%;
height: 65%;
position: absolute;
z-index: 10;
transform: rotate(-6deg);
transform-origin: 50% 50%;
top: 17.5%;
left: 17.5%;
display: flex;
justify-content: center;
align-items: center;
}

#diamond-content {
border: none;
transform: rotate(6deg);
transform-origin: 50% 50%;
}

